body {
  font-family: "brandon-grotesque-n5","brandon-grotesque",Calibri,Candara,"Segoe UI",sans-serif;
  background: #fff;
}

#header {
  padding: 10px;
}

#logo {
  height: 108px;
  width: 154px;
  background: url('../img/logo.png') 100%;
  margin: auto;
  background-repeat: no-repeat;
}

#x-axis {
  position: absolute;
  width: 85%;
  left: 15%;
  height: 100%;
  z-index: 2;
}

.time {
  display: inline-block;
  height: 100%;
  top: 0px;
  overflow: visible;
  border-left: dashed 1px #666;
}
.time.even {
  background: #f7f7f7;
}
.time.odd {
  background: #FFFFFF;
}
.time.last {
  background: none;
}
.time-label {
  margin-left: -50%;
  text-align: center;
  width:100%;
  background: #302F33;
  color: #FFF;
  font-weight: 700;
  height: 24px;
}


#reservations {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 170px;
  left: 0px;
  z-index: 3;
}

.row {
  width: 100%;
  clear: both;
  position: relative;
}

.resource {
  float: left;
  width: 15%;
  position: relative;
  top: 20%;
  height: 60%;
}
.resource-label{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5%;
  right: 0px;
  margin: auto;
  height: 24px;
}

.timeline {
  float: left;
  width: 85%;
  height:100%;
  position: relative;
}
.reservation {
  display: block;
  position: absolute;
  top:20%;
  height: 60%;
  background: #78A7BF;
  color: #FFF;
  font-family: brandon-grotesque-n5, brandon-grotesque, Calibri, Candara, 'Segoe UI', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.reservation-label {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 24px;
}
