body {
  font-family: "brandon-grotesque-n5","brandon-grotesque",Calibri,Candara,"Segoe UI",sans-serif;
  background: #fff;
}

#header {
  padding: 10px;
}

#logo {
  height: 108px;
  width: 154px;
  background: url('../img/logo.png') 100%;
  margin: auto;
  background-repeat: no-repeat;
}

#x-axis {
  position: absolute;
  width: 85%;
  left: 15%;
  height: 100%;
  z-index: 2;
}

.time {
  display: inline-block;
  height: 100%;
  top: 0px;
  overflow: visible;
  border-left: dashed 1px #fff;
  padding-left: -1px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.time.even {
  background: #f5f5f5;
}
.time.odd {
  background: #FFFFFF;
}
.time.last {
  background: none;
}
.time-label {
  text-align: center;
  width:100%;
  background: #302F33;
  color: #FFF;
  font-weight: 700;
  height: 24px;
}


#reservations {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 170px;
  left: 0px;
  z-index: 3;
}

.row {
  width: 100%;
  clear: both;
  position: relative;
  border-bottom: 1px dotted #666;
}

.resource {
  float: left;
  width: 15%;
  position: relative;
  top: 20%;
  height: 60%;
}
.resource-label{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5%;
  right: 0px;
  margin: auto;
  height: 24px;
}

.timeline {
  float: left;
  width: 85%;
  height:100%;
  position: relative;
}
.reservation {
  position: absolute;
  top:10%;
  height: 80%;
  background: #4F6E7E;
  color: #FFF;
  font-family: brandon-grotesque-n5, brandon-grotesque, Calibri, Candara, 'Segoe UI', sans-serif;
  overflow: hidden;
  text-align: center;
  border-left: 1px solid white;
  margin-left: -1px;
}

.cell-bubble {
  display: table; 
  height: 100%;
  width: 100%;
}

.reservation-label {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  font-size: 14px;
  padding: 0px 5px;
}
