doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Civic Hall Room Reservations

    link(rel='stylesheet', href='https://use.typekit.net/c/d8cfc7/1w;brandon-grotesque,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,Y2l:T:n4,Y2n:T:n5,Y2q:T:n7;freight-text-pro,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,WHZ:T:i4,WHc:T:i7,WHY:T:n4,WHb:T:n7;source-sans-pro,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,bmh:T:i3,bmk:T:i4,bmg:T:n3,bmj:T:n4,bml:T:n6/l?3bb2a6e53c9684ffdc9a98f41d5b2a62f696ac03d709e180197d9a499fbccec8b9dbbb3d0d234f108eff7d2672f0adb8341c4f1a08bfc9d49db8ab8687019c8932db9bb904e790dcd1df355ef3684dbf119674724341b0328ed4c6c4856f00d5c4b75a1333df4fd839a5ddd05189d2b8a8b2108be7be61bca41b28614678342919385a4d6485f7602b154c923269728a76113127072b0499ffca13d30946179c84d09df9ec39fe3a88895a97cd1a62124106c1c0760424d1366b2b7b5cae70c1a2f517001f3518cf5c7a2212f968bf1bec3c21cc3f55d3d428fb04fc25f39a1157f7c2')
    link(rel='stylesheet', type='text/css', href='css/main.css')

    script(type='text/javascript', src='js/lib/jquery.min.js')
    script(type='text/javascript', src='js/lib/d3.min.js')
    script(type='text/javascript', src='js/index.js')

  body
    .container
      #header
        #logo
      #title
      #x-axis
      #reservations

